/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  
  /* Make the grid fill the whole page */
  height: 100vh;
  width: 100vw;
}

/* Widgets */
section {
  background: rgba(14, 233, 167, 0.5);
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}



  


/* Time */
.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: solid;
}

.hours {
  font-size: 3em;
  margin: 0;
}

.minutes {
  font-size: 3em;
  margin: 0;
}

.seconds {
  font-size: 3em;
  margin: 0;
}

.amOrPM {
  font-size: 1em;
  margin: 0;
  
}

/* Date */
.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: solid;
}

.month {
  font-size: 2em;
  margin: 0;
}


.dayOfMonth {
  font-size: 2em;
  margin: 0;
}

.year {
  font-size: 2em;
  margin: 0;
}

.dayOfWeek {
  font-size: 2em;
  margin: 0;
}

/* Weather */
.weather {
  grid-column: 1 / -1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: solid;
}


.city {
  
}

.temp {
  
}

.weather img {
  
}

/* Smart Mirror */
video { 
  
  /* Position video      */
    position: absolute;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 100vh;
    /* stack behind content     */
    z-index: -1;
    /* fill background with video    */
  object-fit: cover;
  object-position: center;
  
}